<main class="page__main page__main--index">
  <h1 class="visually-hidden">Cities</h1>
  <div class="tabs">
    <section class="locations container">
      <ul class="locations__list tabs__list">
        <li class="locations__item">
          <a class="locations__item-link tabs__item" href="#" [class.tabs__item--active]="activeCity() === Cities.Paris" (click)="onCityClick(Cities.Paris); $event.preventDefault()">
            <span>Paris</span>
          </a>
        </li>
        <li class="locations__item">
          <a class="locations__item-link tabs__item" href="#" [class.tabs__item--active]="activeCity() === Cities.Cologne" (click)="onCityClick(Cities.Cologne); $event.preventDefault()">
            <span>Cologne</span>
          </a>
        </li>
        <li class=" locations__item">
          <a class="locations__item-link tabs__item" [class.tabs__item--active]="activeCity() === Cities.Brussels" href="#" (click)="onCityClick(Cities.Brussels); $event.preventDefault()">
            <span>Brussels</span>
          </a>
        </li>
        <li class="locations__item">
          <a class="locations__item-link tabs__item" [class.tabs__item--active]="activeCity() === Cities.Amsterdam" href="#" (click)="onCityClick(Cities.Amsterdam); $event.preventDefault()">
            <span>Amsterdam</span>
          </a>
        </li>
        <li class="locations__item">
          <a class="locations__item-link tabs__item" href="#" [class.tabs__item--active]="activeCity() === Cities.Hamburg" (click)="onCityClick(Cities.Hamburg); $event.preventDefault()">
            <span>Hamburg</span>
          </a>
        </li>
        <li class="locations__item">
          <a class="locations__item-link tabs__item" href="#" [class.tabs__item--active]="activeCity() === Cities.Dusseldorf" (click)="onCityClick(Cities.Dusseldorf); $event.preventDefault()">
            <span>Dusseldorf</span>
          </a>
        </li>
      </ul>
    </section>
  </div>
  @if(this.isLoading()) {
  <app-spinner></app-spinner>
  } @else {
  <div class="cities">
    @if(!items().length) {
    <div class="cities__places-container cities__places-container--empty container">
      <section class="cities__no-places">
        <div class="cities__status-wrapper tabs__content">
          <b class="cities__status">No places to stay available</b>
          <p class="cities__status-description">We could not find any property available at the moment in Dusseldorf</p>
        </div>
      </section>
      <div class="cities__right-section">
        <section class="cities__map map"></section>
      </div>
    </div>
    } @else {
    <div class="cities__places-container container">
      <section class="cities__places places">
        <h2 class="visually-hidden">Places</h2>
        <b class="places__found">{{items().length}} places to stay in {{activeCity()}}</b>
        <form class="places__sorting" action="#" method="get">
          <span class="places__sorting-caption">Sort by</span>
          <button class="places__sorting-type" tabindex="0" (click)="toggleList()" type="button">
            @if(activeFilterService.currentSort$ | async; as filterData){
            {{filterData.label}}
            }
            <svg class="places__sorting-arrow" width="7" height="4">
              <use xlink:href="#icon-arrow-select"></use>
            </svg>
          </button>
          @if(isListVisible()) {

          <app-option-list appEveryClick (everyClick)="isListVisible.set(false)"></app-option-list>
          }
        </form>
        <app-offers-list [offers]="items()" />
      </section>
      <div class="cities__right-section">

        <section class="map-section">
          @if(items().length) {
          <app-map [activeOffer]="activeOffer()" [cityInfo]="items()[0].city" [currentOffers]="items()" />
          }
        </section>
      </div>
    </div>
    }

  </div>
  }

</main>